<!--https://www.awesome.club/blog/2024/the-simplest-tech-stack-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1" crossorigin="anonymous"></script>
</head>
<body>

<h1>Tasks</h1>
<ul id="tasks">
    {{range .todos}}
    <li>
        {{.Title}} - {{.Status}}
        <button hx-delete="/todos/{{.Id}}">Delete</button>
    </li>
    {{else}}
    <li>No tasks found</li>
    {{end}}
</ul>
<form hx-post="/todos" hx-target="#tasks" hx-swap="beforeend">
    <input name="title" />
    <input name="status" />
</form>
<button>Save</button>

</body>
</html>